name: pull request comment
on:
  issue_comment:
    branches: [ "*" ]                                  
    types: [ created, opened, synchronize, reopened, ready_for_review ]
jobs:
  job01:
    if: contains(github.event.comment.html_url, '/pull/')    # check if the comments come from pull request, exclude those from issue.
    runs-on: [ubuntu-latest]
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: say hello
      if: contains(github.event.comment.body, '/support')   # check the comment if it contains the keywords
      run: |
        echo "Line 14 PR MSG"
    - name: test
      if: contains(github.event.comment.body, '/test')  # check the comment if it contains the keywords
      run: |
        echo "Line 18 PR MSG"