name: pr-tests
on:
  push:
    branches: [ master, main ]
  pull_request:
    # run for every chnage in the PR
    types: [ opened, synchronize, reopened ]
    # Do not run the pipeline if only Markdown files changed
    paths-ignore: ['**.md']
jobs:
  # testing link checks
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368
        with:
          use-verbose-mode: 'yes'

  # testing rego library
  test_rego:
    name: Test Regos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
      - name: Set up Go
        uses: actions/setup-go@bfdd3570ce990073878bf10f6b2d79082de49492
        with:
          go-version: 1.19
      - name: Test Regoes
        working-directory: testrunner
        run: |-
          apt update && apt install -y cmake
          GOPATH=$(go env GOPATH) make

  # main job of testing and building the env. 
  test_pr_checks:
    permissions:
      pull-requests: write
    uses: kubescape/workflows/.github/workflows/go-basic-tests.yaml@main
    with:
      GO_VERSION: 1.19
      BUILD_PATH: github.com/kubescape/regolibrary/gitregostore/...
    secrets: inherit

  # build and e2e tests
  binary_build_and_e2e:
    uses: kubescape/kubescape/.github/workflows/b-binary-build-and-e2e-tests.yaml@master
    with:
      COMPONENT_NAME: kubescape
      CGO_ENABLED: 1
      GO111MODULE: ""
      GO_VERSION: "1.19"
      RELEASE: ""
      CLIENT: test
      CHECKOUT_REPO: kubescape/kubescape
    secrets: inherit