name: pr-tests

on:
  pull_request:
    branches: [ dev, master ]
    types: [ opened ]
    paths-ignore:
      # Do not run the pipeline if only Markdown files changed
      - '**.yaml'
      - '**.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - name: golangci-lint
      continue-on-error: true
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: --timeout 10m ./...
        only-new-issues: true

    - name: Test
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: go test -v github.com/kubescape/regolibrary/gitregostore/...
        
    - name: Build
      run: go build -v github.com/kubescape/regolibrary/gitregostore/...


