name: Updating documentation
on:
  push:
    branches: [ master, main ]
jobs:
  once:
    name: Upload to documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6
        name: checkout repo content
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: setup python
        uses: actions/setup-python@75f3110429a8c05be0e1bf360334e4cced2b63fa
        with:
          python-version: 3.8
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: execute upload script
        env:
          README_API_KEY: ${{ secrets.README_API_KEY }}
        run: |-
          python ./scripts/upload-readme.py
