name: export

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ closed ]

jobs:
  once:
    name: Upload to documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: checkout repo content

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 
        
      - name: execute upload script 
        env:
          README_API_KEY: ${{ secrets.README_API_KEY }}
        run: |
          python ./scripts/upload-readme.py
